test-mule4-cps-connector/src/main/mule/test-mule4-cps-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="test-mule4-cps-connectorFlow" doc:id="72a74211-241c-4354-8974-ae0d8ce0dca5" >
		<http:listener doc:name="Listener" doc:id="71dddb64-c6e8-4327-8039-4e0a4a567680" config-ref="api-httpListenerConfig" 
		path="/test-mule4-cps-connector/v1">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8c507c38-5123-421c-88e8-1063d3351155" 
		  message='#["\nI am ${my.second.property} of ${parentage} globally: ${global.one} and defaulted ${myStdDefault:Is Default:)} ${example.project.property32:default}"]'/>
	</flow>
	
	<flow name="test-mule4-cps-connectorFlow1" doc:id="837207cd-f9e9-4804-aa9d-ea49f68611df" >
		<scheduler doc:name="Scheduler" doc:id="032f342e-217a-47db-bcc1-efe574f77311" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="8c507c38-5123-421c-88e8-1063d3351155" 
		  message='#["\nFrom my config: ${my.second.property}\nImported from Shared: ${parentage}\nImported From Shared/Global: ${global.one}\nUse default value: ${myStdDefault:this is a default value, smiley:)} and this was not a default value: ${example.project.property32:oops used default}"]'/>
	</flow>
	
</mule>
